body {

    /*background:papayaWhip*/
    background: LightSteelBlue;
    font-family: Comic-sans, Arial, Helvetica, sans-serif;
}

h5.resume {
  margin-bottom: 2px;   /* less space under heading */
  margin-top: 2px;
}
h4.resume {
  margin-bottom: 2px;   /* less space under heading */
  margin-top: 2px;
}
h3.resume {
 /* less space under heading */
  margin-bottom: 2px;
  margin-top: 30px;
}
h3.resume2 {
 /* less space under heading */
  margin-bottom: 2px;
  margin-top: 15px;
}
ul.resume {
  margin-top: 4px;      /* less space above list */
  margin-bottom: 4px;
}

li.resume {
  margin-bottom: 2px;   /* less space between list items */
}
h2.resume {
  margin-bottom: 2px;   /* less space under heading */
  margin-top: 2px;
}
nav.resume{
    background-color: pink;
    width:30%
}
div.side-by-side {
    background-color: white;
    width:30%;
}
img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}